/**
 *  Symbian tracer configuration
 */

\#ifndef TRACER_CONFIG_SYMBIAN_H
\#define TRACER_CONFIG_SYMBIAN_H

/** Application UID */
\#define TRACER_SYMBIAN_UID $config.uid2

\#endif /* TRACER_CONFIG_SYMBIAN_H */
